<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gazebo_control">

    <!-- 后轮控制接口宏：滚动速度控制 -->
    <xacro:macro name="rear_control_interface" params="prefix">
        <joint name="${prefix}_rolling_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </xacro:macro>

    <!-- 前轮控制接口宏：转向角度控制 -->
    <xacro:macro name="front_control_interface" params="prefix">
        <joint name="${prefix}_steering_joint">
            <command_interface name="position">
                <param name="min">-0.6055</param>
                <param name="max">0.6055</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
    </xacro:macro>

    <xacro:macro name="front_rolling_interface" params="prefix">
        <joint name="${prefix}_rolling_joint">
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        
    </xacro:macro>

    <!-- 主宏：gazebo_control -->
    <xacro:macro name="gazebo_control" params="">
        <ros2_control name="GazeboSystem" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>

            <xacro:rear_control_interface prefix="left_rear"/>
            <xacro:rear_control_interface prefix="right_rear"/>
            <xacro:front_control_interface prefix="left_front"/>
            <xacro:front_control_interface prefix="right_front"/>
        </ros2_control>

        <gazebo>
            <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
                <parameters>$(find wuyang_description)/config/ackermann_controller.yaml</parameters>
            </plugin>
        </gazebo>
        
    </xacro:macro>

</robot>
